:root {
  --primary-color: rgba(13, 110, 139, 0.75);
  --overlay-color: rgba(24, 39, 51 , 0.85);
  --menu-speed: 0.75s;
}
body {
	margin: 0;
	padding: 0;
}	
.container {
	display: grid;
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	grid-template-columns: 27% 73%;
	grid-template-rows: 100%;
}
.header {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	display: grid;
	grid-template-columns: 12.5% 75% 12.5%;
	grid-template-rows: 150px 65px 250px;
	background: #b5d0db;
}
.text {
	grid-column: 1 / 4;
	grid-row: 1 / 2;
	color: white;
	font-size: ;
	font-weight: bold;
	position: fixed;
	margin-left: 26.5px;
	align-items: center;
	justify-content: center;
	display: grid;
}
.p1 {
	font-weight: bold;
	font-size: 28pt;
	color: white;
	text-align: center;
}
.p2 {
	font-weight: bold;
	font-size: 18pt;
	color: white;
	margin-top: -25px;
	text-align: center;	
}
.oval {
	display: grid;
	grid-column: 2 / 3;
	grid-row: 3 / 4;
}
.oval2 {
	position: fixed;
	display: flex;
	width: 20%;
	height: 249px;
	border-radius: 50%;
	background: url(..//img/ins2.png);
	background-size: cover;
	background-repeat: no-repeat;
	align-items: center;
	justify-content: center;
}

.contact {
	background: #ffffff;
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	display: grid;
	grid-template-columns: 65% 35%;
	grid-template-rows: 75px 65px 450px 100px;
}
.meny {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	flex-direction: row;
	display: flex; 
	justify-content: center;
	align-items: center;
	font-size: 14pt;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	color: black;
	justify-content: space-around;
}
.icon {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	flex-direction: row;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.icono {
	grid-column: 4 / 5;
	grid-row: 1 / 2;
	flex-direction: row;
	display: none;
	justify-content: flex-end;
	align-items: center;
}
.about_me {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-items: center;
	grid-column: 1 / 3;
	grid-row: 2 / 3;
}
.about {
	width: 20%;
	height: 70%;
	background: #ffcd38;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	color: white;
	align-items: center;
	justify-content: center;
	font-size: 18pt;
	font-weight: bold;
}
.p6 {
	margin-left: 40px; 
}
.p3 {
	font-weight: bold;
	font-size: 11pt;
	color: grey;
	margin-left: 10px;
}
.p4 {
	color: black;
	font-size: 14pt;
	font-weight: bold;
	margin: 20px;
	margin-left: 30px;
	margin-top: 30px;
}
.p5 {
	font-weight: bold;
	font-size: 16px;
	margin-top: -5px;
	margin-left: 30px;
	color: grey;
	width: 90%;
}
.img1 {
	display: flex;
	width: 20px;
	height: 20px; 
}
.lol {
	width: 40px;
	height: 40px;
	border-radius: 15px;
	display: flex;
	margin-right: 30px;
	align-items: center;
	justify-content: center;
	background: lightgrey;
}
.lol1 {
	margin-right: 10px;
	width: 40px;
	height: 40px;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: lightgrey;
}
.lol2 {
	margin-right: 10px;
	width: 40px;
	height: 40px;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: lightgrey;
}

:root {
  --mainColor: #ff9800;
}
.a {
  background:
     linear-gradient(
       to right,
       var(--mainColor) 0%,
       var(--mainColor) 5px,
       transparent 5px
     );
    background-repeat: repeat-x;
    background-size: 100%;
  color: #000;
  padding-left: 10px;
  text-decoration: none;
}

.a:hover {
  background:
     linear-gradient(
       to right,
       var(--mainColor) 0%,
       var(--mainColor) 5px,
       transparent
     );
}
.text2 {
	display: grid;
	grid-column: 1 / 2;
	grid-row: 3 / 4;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50px 395px;
}
.text__text_resume {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 100%;
	grid-column: 1 / 3;
	grid-row: 1 / 2;
}
.star {
	grid-column: 1 / 2;
	display: flex;
	align-items: center;
	grid-row: 1 / 2;
}
.end {
	grid-column: 2 / 3;
	display: flex;
	align-items: center;
	grid-row: 1 / 2;
}
.p20 {
	font-size: 13.5pt;
	font-weight: bold;
	margin-left: 20px;
	color: black;
	font-family: 'Montserrat' sans-serif;
}
.text_foto_foto_text {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 125px 10px 125px 10px 125px;
	grid-column: 1 / 3;
	grid-row: 2 / 3;
}
.left2010 {
	display: grid;
	grid-template-columns: 6% 24% 50% 21%;
	grid-template-rows: 25px 93px;
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}
.left2009 {
	display: grid;
	grid-template-columns: 6% 24% 50% 21%;
	grid-template-rows: 25px 93px;
	grid-column: 1 / 2;
	grid-row: 3 / 4;
}
.left2008 {
	display: grid;
	grid-template-columns: 6% 24% 50% 21%;
	grid-template-rows: 25px 93px;
	grid-column: 1 / 2;
	grid-row: 5 / 6;
}
.class {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	background: #9bd952;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	box-shadow: 0px 0px 7px grey;
	font-family: 'Montserrat' sans-serif;
	font-weight: bold;
	border-radius: 5px;
}
.class3 {
	font-size: 9pt;
	font-family: 'Montserrat' sans-serif;
	color: grey;
	font-style: oblique;
	margin-top: -60px;
	margin-left: 20px;
}
.blos_text {
	display: grid;
	grid-column: 2 / 5;
	grid-row: 3 / 4;
}
.p23 {
	font-weight: bold;
	font-family: "Montserrat" sans-serif;
	font-size: 13.5pt;
	color: black;
	margin-top: -80px;
	margin-left: 20px;
}
.p24 {
	font-weight: bold;
	font-size: 10.5pt;
	font-family: 'Montserrat' sans-serif;
	color: grey;
	margin-left: 20px;
	margin-top: -40px;
}




















.preg2012 {
	display: grid;
	grid-template-columns: 6% 60% 34%;
	grid-template-rows: 25px 93px;
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}
.preg2011 {
	display: grid;
	grid-template-columns: 6% 60% 34%;
	grid-template-rows: 25px 93px;
	grid-column: 2 / 2;
	grid-row: 3 / 4;
}

.preg2010 {
	display: grid;
	grid-template-columns: 6% 60% 34%;
	grid-template-rows: 25px 93px;
	grid-column: 2 / 3;
	grid-row: 5 / 6;
}
.preg201 {
	display: grid;
	grid-template-columns: 6% 60% 34%;
	grid-template-rows: 25px 93px;
	grid-column: 2 / 3;
	grid-row: 5 / 6;
}

.class2 {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	background: #9bd952;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	box-shadow: 0px 0px 7px grey;
	font-family: 'Montserrat' sans-serif;
	font-weight: bold;
	border-radius: 5px;
}
.blos_text2 {
	display: grid;
	grid-column: 2 / 5;
	grid-row: 2 / 3;
}
.p26 {
	font-weight: bold;
	font-family: "Montserrat" sans-serif;
	font-size: 13.5pt;
	color: black;
	margin-top: 13px;
	margin-left: 20px;
}
.p27 {
	font-weight: bold;
	font-size: 10.5pt;
	font-family: 'Montserrat' sans-serif;
	color: grey;
	margin-left: 20px;
	margin-top: -8px;
}
.class4 {
	font-size: 9pt;
	font-family: 'Montserrat' sans-serif;
	color: grey;
	font-style: oblique;
	margin-top: -20px;
	margin-left: 20px;
}

.text3 {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 40% 60%;
}
.den {
	grid-column: 1/2; 
	grid-row: 1/2;
	display: grid;
	grid-template-columns: 33.3% 33.3% 33.3%;
	grid-template-rows: 40px 46px 46px 46px 46px ;
}
.div9 {
	display: flex;
	grid-column: 1 / 4;
	grid-row: 1/2;
	align-items: center;
}
.p30 {
	font-size: 13.5pt;
	font-weight: bold;
	font-family: 'Montserrat' sans-serif;
	color: black;
}
.div10 {
	display: grid;
	grid-column: 1 / 4;
	grid-row: 2 / 3;
}
.div11 {
	display: grid;
	grid-column: 1 / 4;
	grid-row: 3 / 4;
}
.div12 {
	display: grid;
	grid-column: 1 / 4;
	grid-row: 4 / 5;
}
.status {
	display: flex;
	grid-column: 1 / 3;
	grid-row: 2/3;
	flex-direction: column;
	justify-content: center;
	border:1px solid ;
	border-radius: 10px;
	margin-left: 10px;
	height: 9px;
	margin-top: -15px;
}
.status2 {
	width: 80%;
	height: 6px;
	display: flex;
	align-items: center;
	border-radius: 5px;
	background: green;
}
.dp31 {
	font-size: 10pt;
	font-family: 'Montserrat' sans-serif;
	font-weight: bold;
	color: black;
	margin-left: 10px;
	margin-top: -7px;
}

.den2 {
	grid-column: 1/2; 
	grid-row: 2/3;
	display: grid;
	grid-template-columns: 33.3% 33.3% 33.3%;
	grid-template-rows: 40px 46px 46px 46px 46px 46px 46px 46px;
}
.div18 {
	display: flex;
	grid-column: 1 / 4;
	grid-row: 1/2;
	align-items: center;
}
.p30 {
	font-size: 13.5pt;
	font-weight: bold;
	font-family: 'Montserrat' sans-serif;
	color: black;
}
.div13 {
	display: grid;
	grid-column: 1 / 4;
	grid-row: 2 / 3;
}
.div14 {
	display: grid;
	grid-column: 1 / 4;
	grid-row: 3 / 4;
}
.div15 {
	display: grid;
	grid-column: 1 / 4;
	grid-row: 4 / 5;
}
.div16 {
	display: grid;
	grid-column: 1 / 4;
	grid-row: 5 / 6;
}
.div17 {
	display: grid;
	grid-column: 1 / 4;
	grid-row: 6 / 7;
}
.status {
	display: flex;
	grid-column: 1 / 3;
	grid-row: 2/3;
	flex-direction: column;
	justify-content: center;
	border:2px solid orange;
	border-radius: 10px;
	margin-left: 10px;
	height: 9px;
	margin-top: -15px;
}
.status2 {
	width: 80%;
	height: 4px;
	margin-left: 2px;
	margin-top: 0.3px;
	display: flex;
	align-items: center;
	border-radius: 5px;
	background: orange;
}
.dp31 {
	font-size: 10pt;
	font-family: 'Montserrat' sans-serif;
	font-weight: bold;
	color: black;
	margin-left: 10px;
	margin-top: -7px;
}
/**//**//**//**//**//**//**//**//**/
@import url("https://fonts.googleapis.com/css?family=Varela+Round");
.menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  margin-left: -105px;
  margin-top: 50px;
  list-style: none;
}

.menus li {
  width: 125px;
  height: 50px;
  -webkit-transition: background-position-x 0.9s linear;
  transition: background-position-x 0.9s linear;
  text-align: center;
}
.menus li a {
  color: #777;
  text-decoration: none;
  -webkit-transition: all 0.45s;
  transition: all 0.45s;
}

.menus li:hover a {
  color: orange;
}
.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
          transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-btns .btn:before {
  top: 90%;
  left: -110%;
}
.social-btns .btn .fa {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
.social-btns .btn.facebook:before {
  background-color: #3b5998;
}
.social-btns .btn.facebook .fa {
  color: #3b5998;
}
.social-btns .btn.twitter:before {
  background-color: #3cf;
}
.social-btns .btn.twitter .fa {
  color: #3cf;
}
.social-btns .btn.google:before {
  background-color: #dc4a38;
}
.social-btns .btn.google .fa {
  color: #dc4a38;
}
.social-btns .btn.dribbble:before {
  background-color: #f26798;
}
.social-btns .btn.dribbble .fa {
  color: #f26798;
}
.social-btns .btn.skype:before {
  background-color: #00aff0;
}
.social-btns .btn.skype .fa {
  color: #00aff0;
}
.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}
.social-btns .btn:focus .fa,
.social-btns .btn:hover .fa {
  color: #fff;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.social-btns .btn {
  display: inline-block;
  background-color: lightgrey;
  width: 40px;
  height: 40px;
  line-height: 90px;
  margin: 0 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  display: flex;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
  opacity: 0.99;
}
.social-btns .btn:before {
  content: '';
  width: 120%;
  height: 120%;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.social-btns .btn .fa {
  font-size: 38px;
  vertical-align: middle;
}
.i1mg {
  display: flex;
  width: 22.5px;
  height: 22.5px;
  z-index: 1;
}

/*Меню Гамбургер Початок*/

:root {
  --primary-color: rgba(13, 110, 139, 0.75);
  --overlay-color: rgba(24, 39, 51 , 0.85);
  --menu-speed: 0.75s;
}

/* MENU STYLES */
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 30px;
  height: 30px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: -10%;
  left: -25px;
  width: 120%;
  height: 115%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

/*Меню Гамбургер Кінець*/
.p300 {
	font-weight: bold;
	font-size: 18pt;
	color: white;
	display: none;
	margin-top: -25px;
	text-align: center;	
}
.center {
	display: none;
}
@media (max-width: 768px) {
	.menu-wrap .menu {
  		position: fixed;
  		top: -50%;
  		left: -11%;
  		width: 120%;
  		height: 200%;
  		visibility: hidden;
 		overflow: hidden;
  		display: flex;
  		align-items: center;
  		justify-content: center;
	}
	.menu-wrap {
  		position: static;
  		top: 0;
  		left: 0;
  		z-index: 1;
	}
	.container {
		height: 240vh;
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: 400px 400px 100px 100px;
	}
	.header {
		display: grid;
		grid-column: 1 / 3;
		grid-row: 1/2;
		align-items: center;
		grid-template-columns: 30% 40% 30%;
		grid-template-rows: 75px 300px;
		justify-content: center;
	}
	.p1 {
		display: flex;
		color: white;
		font-weight: bold;
		font-size: 34pt;
		text-align: center;

	}
	.p2 {
		display: none;
	}
	.p300 {
		display: flex;
		grid-column: 1 / 2;
		grid-row: 2 / 3;
		font-weight: bold;
		color: white;
		font-size: 38pt;
		margin-top: 0px;
		transform: rotate(-15deg);
	}
	.text {
		grid-column: 2 / 3;		
		grid-row: 1 / 2;
		position: static;
	}
	.oval {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
		display: flex;
		position: static;
		z-index: 0;
	}
	.oval2 {
		position: static;
		width: 100%;
		height: 290px;
	}
	.icono {
		display: flex;
		grid-column: 3 / 4;
		grid-row: 2 / 3;
		justify-content: center;
		margin-top: -200px;
	}
	.contact {
		display: grid;
		grid-column: 1 / 3;
		grid-row: 2 / 3;
	}
	.meny {
		display: none;
	}
	.menus {
		display: none;
	}
	.menu-wrap .hamburger > div {
  		position: relative;
  		flex: none;
  		width: 100%;
  		height: 2px;
  		background: #fff;
  		display: flex;
  		align-items: center;
 		justify-content: center;
  		transition: all 0.4s ease;
	}
	.icon {
		display: none;
	}
	.menu-wrap .hamburger {
  		position: absolute;
  		top: 0;
  		left: 0;
  		z-index: 1;
  		width: 40px;
  		height: 30px;
  		padding: 1rem;
  		background: ;
  		display: flex;
  		align-items: center;
  		justify-content: center;
	}
	.about_me {
		display: flex;
		flex-direction: row;
		align-items: center;
		align-items: center;
		grid-column: 1 / 3;
		grid-row: 1 / 2;
	}
	.about {
		width: 23.5%;
		height: 80%;
		background: #ffcd38;
		font-family: 'Montserrat', sans-serif;
		display: flex;
		color: white;
		align-items: center;
		justify-content: center;
		font-size: 19pt;
		font-weight: bold;
	}
	.p6 {
		margin-left: 10px;
	}
	.p3 {
		font-size: 16pt;
	}
	.contact {
		background: #ffffff;
		display: grid;
		grid-template-columns: 65% 35%;
		grid-template-rows: 75px 450px 450px;
	}
	.text2 {
		display: grid;
		grid-column: 1 / 3;
		grid-row: 2 / 3;
	}
	.text3 {
		grid-column: 1 / 3;
		grid-row: 3 / 4;
		display: grid;
		grid-template-columns: 20% 60% 20%;
		grid-template-rows: 40% 60%;
	}
	.den {
		display: grid;
		grid-column: 2 / 3;
		grid-row: 1 / 2;
	}
	.den2 {
		display: grid;
		grid-column: 2 / 3;
		grid-row: 2 / 3;
	}
}

@media (max-width: 475px) {
	.container {
		height: 305vh;
		display: grid;
	}
	.menu-wrap .menu {
  		position: fixed;
  		width: 100%;
  		height: 100%;
  		margin-top: -175px;
  		visibility: hidden;
  		overflow: hidden;
  		display: flex;
  		align-items: center;
  		justify-content: center;
	}
	.menu-wrap .menu > div {
  		background: var(--overlay-color);
  		border-radius: 50%;
  		margin-top: 100px;
  		position: fixed;
  		width: 200vw;
  		height: 200vw;
  		display: flex;
  		flex: none;
  		align-items: center;
  		justify-content: center;
  		transform: scale(0);
  		transition: all 0.4s ease;
	}
	.p300 {
		display: none;
	}
	.icono {
		display: none;
	}
	.header {
		display: grid;
		grid-column: 1 / 3;
		grid-row: 1/2;
		align-items: center;
		grid-template-columns: 13% 74% 12%;
		grid-template-rows: 75px 300px;
		justify-content: center;
	}
	.p3 {
		display: flex;
		font-size: 10.5pt;
	}
	.p1 {
		display: flex;
		font-size: 24pt;
		margin-top: 50px;
		margin-left: -40px;
		text-align: center;
	}
	.oval {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
		display: flex;
		position: static;
		z-index: 0;
	}
	.oval2 {
		position: static;
		width: 100%;
		height: 290px;
	}
	.about_me {
		display: flex;
		flex-direction: row;
		align-items: center;
		align-items: center;
		grid-column: 1 / 3;
		grid-row: 1 / 2;
	}
	.about {
		width: 75%;
		height: 67%;
		background: #ffcd38;
		font-family: 'Montserrat', sans-serif;
		display: flex;
		color: white;
		align-items: center;
		justify-content: center;
		font-size: 19pt;
		font-weight: bold;
	}
	.contact {
		background: #ffffff;
		grid-column: 1 / 3;
		display: grid;
		grid-template-columns: 33.3% 33.3% 33.3%;
		grid-template-rows: 75px 850px 420px 500px 270px;
	}
	.p6 {
		font-size: 14pt;
	}
	.p5 {
		display: flex;
		font-size: 12pt;
	}
	.p4 {
		font-size: 14pt;
		text-align: center;
		margin-left: 15px;
	}
	.text2 {
		display: grid;
		grid-column: 1 / 4;
		grid-row: 2 / 3;
		grid-template-columns: 100%;
		grid-template-rows: 50px 800px;
	}
	.text_foto_foto_text {
		display: grid;
		grid-row: 2 / 3;
		grid-template-columns: 100%;
		grid-template-rows: 125px 10px 125px 10px 125px 10px 125px 10px 125px 10px 125px;
	}
	.center {
		display: flex;
	}
	.star  {
		display: none;
	}
	.end {
		display: none;
	}
	.left2010 {
		display: grid;
		grid-template-columns: 3% 24% 50% 21%;
		grid-template-rows: 25px 93px;
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}
	.left2009 {
		display: grid;
		grid-template-columns: 3% 24% 50% 21%;
		grid-template-rows: 25px 93px;
		grid-column: 1 / 2;
		grid-row: 3 / 4;
	}
	.left2008 {
		display: grid;
		grid-template-columns: 3% 24% 50% 21%;
		grid-template-rows: 25px 93px;
		grid-column: 1 / 2;
		grid-row: 5 / 6;
	}
	.preg2012 {
		display: grid;
		grid-template-columns: 3% 60% 34%;
		grid-template-rows: 25px 93px;
		grid-column: 1 / 2;
		grid-row: 7 / 8;
	}
	.preg2011 {
		display: grid;
		grid-template-columns: 3% 60% 34%;
		grid-template-rows: 25px 93px;
		grid-column: 1 / 2;
		grid-row: 9 / 10;
	}

	.preg2010 {
		display: grid;
		grid-template-columns: 3% 60% 34%;
		grid-template-rows: 25px 93px;
		grid-column: 1 / 2;
		grid-row: 11 / 12;
	}
	.text3 {
		grid-column: 1 / 3;
		grid-row: 3 / 4;
		display: grid;
		grid-template-columns: 10% 125%;
		grid-template-rows: 40% 60%;
	}
	.menu-wrap .menu {
  		position: fixed;
  		top: 0;
  		left: -1%;
  		width: 99%;
  		height: 119%;
  		visibility: hidden;
 		overflow: hidden;
  		display: flex;
  		align-items: center;
  		justify-content: center;
	}
	.menu-wrap {
  		position: static;
  		top: 0;
  		left: 0;
  		z-index: 1;
	}
}

@media (max-width: 375px) {
	.container {
		height: 305vh;
		display: grid;
	}
	.menu-wrap .menu {
  		position: fixed;
  		width: 100%;
  		height: 100%;
  		margin-top: -175px;
  		visibility: hidden;
  		overflow: hidden;
  		display: flex;
  		align-items: center;
  		justify-content: center;
	}
	.menu-wrap .menu > div {
  		background: var(--overlay-color);
  		border-radius: 50%;
  		margin-top: 100px;
  		position: fixed;
  		width: 200vw;
  		height: 200vw;
  		display: flex;
  		flex: none;
  		align-items: center;
  		justify-content: center;
  		transform: scale(0);
  		transition: all 0.4s ease;
	}
	.p300 {
		display: none;
	}
	.icono {
		display: none;
	}
	.header {
		display: grid;
		grid-column: 1 / 3;
		grid-row: 1/2;
		align-items: center;
		grid-template-columns: 13% 74% 12%;
		grid-template-rows: 75px 300px;
		justify-content: center;
	}
	.p3 {
		display: flex;
		font-size: 10.5pt;
	}
	.p1 {
		display: flex;
		font-size: 24pt;
		margin-top: 100px;
		margin-left: -40px;
		text-align: center;
	}
	.oval {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
		display: flex;
		position: static;
		z-index: 0;
	}
	.oval2 {
		position: static;
		width: 100%;
		height: 250px;
	}
	.about_me {
		display: flex;
		flex-direction: row;
		align-items: center;
		align-items: center;
		grid-column: 1 / 3;
		grid-row: 1 / 2;
	}
	.about {
		width: 75%;
		height: 67%;
		background: #ffcd38;
		font-family: 'Montserrat', sans-serif;
		display: flex;
		color: white;
		align-items: center;
		justify-content: center;
		font-size: 19pt;
		font-weight: bold;
	}
	.contact {
		background: #ffffff;
		grid-column: 1 / 3;
		display: grid;
		grid-template-columns: 33.3% 33.3% 33.3%;
		grid-template-rows: 75px 850px 420px 500px 270px;
	}
	.p6 {
		font-size: 14pt;
	}
	.p5 {
		display: flex;
		font-size: 12pt;
	}
	.p4 {
		font-size: 14pt;
		text-align: center;
		margin-left: 15px;
	}
	.text2 {
		display: grid;
		grid-column: 1 / 4;
		grid-row: 2 / 3;
		grid-template-columns: 100%;
		grid-template-rows: 50px 800px;
	}
	.text_foto_foto_text {
		display: grid;
		grid-row: 2 / 3;
		grid-template-columns: 100%;
		grid-template-rows: 125px 10px 125px 10px 125px 10px 125px 10px 125px 10px 125px;
	}
	.center {
		display: flex;
	}
	.star  {
		display: none;
	}
	.end {
		display: none;
	}
	.left2010 {
		display: grid;
		grid-template-columns: 3% 24% 50% 21%;
		grid-template-rows: 25px 93px;
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}
	.left2009 {
		display: grid;
		grid-template-columns: 3% 24% 50% 21%;
		grid-template-rows: 25px 93px;
		grid-column: 1 / 2;
		grid-row: 3 / 4;
	}
	.left2008 {
		display: grid;
		grid-template-columns: 3% 24% 50% 21%;
		grid-template-rows: 25px 93px;
		grid-column: 1 / 2;
		grid-row: 5 / 6;
	}
	.preg2012 {
		display: grid;
		grid-template-columns: 3% 60% 34%;
		grid-template-rows: 25px 93px;
		grid-column: 1 / 2;
		grid-row: 7 / 8;
	}
	.preg2011 {
		display: grid;
		grid-template-columns: 3% 60% 34%;
		grid-template-rows: 25px 93px;
		grid-column: 1 / 2;
		grid-row: 9 / 10;
	}

	.preg2010 {
		display: grid;
		grid-template-columns: 3% 60% 34%;
		grid-template-rows: 25px 93px;
		grid-column: 1 / 2;
		grid-row: 11 / 12;
	}
	.text3 {
		grid-column: 1 / 3;
		grid-row: 3 / 4;
		display: grid;
		grid-template-columns: 10% 125%;
		grid-template-rows: 40% 60%;
	}
	.menu-wrap .menu {
  		position: fixed;
  		top: 0;
  		left: -1%;
  		width: 99%;
  		height: 119%;
  		visibility: hidden;
 		overflow: hidden;
  		display: flex;
  		align-items: center;
  		justify-content: center;
	}
	.menu-wrap {
  		position: static;
  		top: 0;
  		left: 0;
  		z-index: 1;
	}
}

@media (max-width: 320px) {
	.container {
		height: 305vh;
		display: grid;
	}
	.menu-wrap .menu {
  		position: fixed;
  		width: 100%;
  		height: 100%;
  		margin-top: -175px;
  		visibility: hidden;
  		overflow: hidden;
  		display: flex;
  		align-items: center;
  		justify-content: center;
	}
	.menu-wrap .menu > div {
  		background: var(--overlay-color);
  		border-radius: 50%;
  		margin-top: 100px;
  		position: fixed;
  		width: 200vw;
  		height: 200vw;
  		display: flex;
  		flex: none;
  		align-items: center;
  		justify-content: center;
  		transform: scale(0);
  		transition: all 0.4s ease;
	}
	.p300 {
		display: none;
	}
	.icono {
		display: none;
	}
	.header {
		display: grid;
		grid-column: 1 / 3;
		grid-row: 1/2;
		align-items: center;
		grid-template-columns: 13% 74% 12%;
		grid-template-rows: 75px 300px;
		justify-content: center;
	}
	.p3 {
		display: flex;
		font-size: 10.5pt;
	}
	.p1 {
		display: flex;
		font-size: 24pt;
		margin-top: 100px;
		margin-left: -40px;
		text-align: center;
	}
	.oval {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
		display: flex;
		position: static;
		z-index: 0;
	}
	.oval2 {
		position: static;
		width: 100%;
		height: 220px;
	}
	.about_me {
		display: flex;
		flex-direction: row;
		align-items: center;
		align-items: center;
		grid-column: 1 / 3;
		grid-row: 1 / 2;
	}
	.about {
		width: 75%;
		height: 67%;
		background: #ffcd38;
		font-family: 'Montserrat', sans-serif;
		display: flex;
		color: white;
		align-items: center;
		justify-content: center;
		font-size: 19pt;
		font-weight: bold;
	}
	.contact {
		background: #ffffff;
		grid-column: 1 / 3;
		display: grid;
		grid-template-columns: 33.3% 33.3% 33.3%;
		grid-template-rows: 75px 850px 420px 500px 270px;
	}
	.p6 {
		font-size: 14pt;
	}
	.p5 {
		display: flex;
		font-size: 12pt;
	}
	.p4 {
		font-size: 14pt;
		text-align: center;
		margin-left: 15px;
	}
	.text2 {
		display: grid;
		grid-column: 1 / 4;
		grid-row: 2 / 3;
		grid-template-columns: 100%;
		grid-template-rows: 50px 800px;
	}
	.text_foto_foto_text {
		display: grid;
		grid-row: 2 / 3;
		grid-template-columns: 100%;
		grid-template-rows: 125px 10px 125px 10px 125px 10px 125px 10px 125px 10px 125px;
	}
	.center {
		display: flex;
	}
	.star  {
		display: none;
	}
	.end {
		display: none;
	}
	.left2010 {
		display: grid;
		grid-template-columns: 3% 24% 50% 21%;
		grid-template-rows: 25px 93px;
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}
	.left2009 {
		display: grid;
		grid-template-columns: 3% 24% 50% 21%;
		grid-template-rows: 25px 93px;
		grid-column: 1 / 2;
		grid-row: 3 / 4;
	}
	.left2008 {
		display: grid;
		grid-template-columns: 3% 24% 50% 21%;
		grid-template-rows: 25px 93px;
		grid-column: 1 / 2;
		grid-row: 5 / 6;
	}
	.preg2012 {
		display: grid;
		grid-template-columns: 3% 60% 34%;
		grid-template-rows: 25px 93px;
		grid-column: 1 / 2;
		grid-row: 7 / 8;
	}
	.preg2011 {
		display: grid;
		grid-template-columns: 3% 60% 34%;
		grid-template-rows: 25px 93px;
		grid-column: 1 / 2;
		grid-row: 9 / 10;
	}

	.preg2010 {
		display: grid;
		grid-template-columns: 3% 60% 34%;
		grid-template-rows: 25px 93px;
		grid-column: 1 / 2;
		grid-row: 11 / 12;
	}
	.text3 {
		grid-column: 1 / 3;
		grid-row: 3 / 4;
		display: grid;
		grid-template-columns: 10% 125%;
		grid-template-rows: 40% 60%;
	}
	.menu-wrap .menu {
  		position: fixed;
  		top: 0;
  		left: -1%;
  		width: 99%;
  		height: 119%;
  		visibility: hidden;
 		overflow: hidden;
  		display: flex;
  		align-items: center;
  		justify-content: center;
	}
	.menu-wrap {
  		position: static;
  		top: 0;
  		left: 0;
  		z-index: 1;
	}
}